.quiz,
.question,
.end-screen {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quiz {
    flex-direction: column;
}

.question,
.end-creen {
    display: none;
}
/* Step1 */
.quiz{
    display: none;
}
.question {
    display: flex;
}
/* Step 2 */
/* .end-screen {
    display: flex;
}
.question {
    display: none;
}